doctype html
html
  head
    meta(name="title" content="Abyss")
    meta(name="description" content="a utility for building and maintaining groups of programs.")
    meta(name="keywords" content="abyss, software, cmake, makefile, make, g++, c/c++, c++, c, project, build tool, compiler, builder, easy, phoxett, abyss tool, tool, phoxett abyss, clava, cco")
    meta(name="robots" content="index, follow")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="language" content="English")
    meta(name="revisit-after" content="7 days")
    meta(name="author" content="Phoxett Phoxett")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
